.container {
  margin-bottom: 30px;
}

.title {
  font-size: 16px;
  color: #333333;
}

.input {
  font-size: 16px;
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: #f2e9dc38;
  border: 1px solid #4e6164;
}
