.container {
  margin-bottom: 30px;
  margin-top: 20px;
  border: 1px solid #000;
  border-radius: 20px;
  width: 500px;
  padding: 16px 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  font-size: 16px;
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  background-color: #f2e9dc38;
  border: 1px solid #4e6164;
}

.span {
  font-size: 16px;
  color: #333333;
}

.btn {
  font-size: 24px;
  background-color: #ffffff7a;
  color: #333333;
  border: none;
  color: #333333;
  border-radius: 20px;
  padding: 5px 10px;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.error {
  font-size: 14px;
  color: #4e6164;
  font-weight: bold;
}
